# Godot 4+ specific ignores
.godot/
/android/
hex-extention/.sconsign.dblite
/hex-extention/build
/hex-project/build
/rust-extention/kva_hex_core/target
/godot_cpp
/rust-extention/kva_hex_core/.debug
/rust-extention/godot_kva_hex_core/target
hex-project/.github/FUNDING.yml
/rust-extention/godot_kva_hex_core/.debug/debug/.fingerprint
/rust-extention/godot_kva_hex_core/.debug
